.App {
    text-align: center;
    background-color: #a7d3d4;
    font-family: "Roboto Sab", sans-serif;
    color: green;
}
nav {
    background-color: #ffffff;
    width: 90%;
    border-radius: 50px;
    font-size: 30px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: fantasy;

}
.nav-home {
    color: green;
    margin: 30px;
    padding-bottom: 10px;
    text-decoration: none;
}

.nav-products {
    color: green;
    margin: 30px;
    text-decoration: none;
}
.nav-add-product {
    color: green;
    margin: 30px;
    text-decoration: none;
}
.home{
    font-family: cursive;
    font-size: 3rem;
}
h3{
    font-family: cursive;
}
button {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border-color: rgb(108, 108, 109);
    margin: 30px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
}

.products-container {
    width: 30px;
    font-size: 30px;
    display: inline-table;
    font-family: monospace;
    display: ruby;
}

.products-container a {
    text-decoration: none;
    color: black;

}

.samples-container {
    width: 30px;
    font-size: 30px;
    display: inline-table;
    font-family: monospace;
    display: ruby;
}

.samples-container a {
    text-decoration: none;
    color: black;
}

.images-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.images-container img {
    height: 100px;
}
input {
    margin: 8px;
    padding: 8px;
    width: 50%;
    box-sizing: border-box;
    height: 50px;
    border-radius: 20px;
    background-color: #D5F0C1;
    color: #4F6F52;
    justify-content: center;
  }

.prod-images {
    margin: 50px;
    display: flex;
    justify-content: center;

}
.details {
    background-color: #c9e9d5;
    border-radius: 10px;
    font-family: cursive;
    color: black;
    font-size: 1.3rem;
    
}
.details-container h1 {
    font-size: 30px;
    font-family: cursive;
}
h2{
    display: flex;
    color: #000000;
    /* text-align: center; */
    /* margin-right: 40px; */
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30%;
    font-family: cursive;
}

h1 {
    font-family: cursive;
}
.stock-tik {
    flex-direction: column;
    align-items: stretch;
}